* {
    margin: 0;
    padding: 0;
    border: 0;
  }
:root {
    --couleur-principale: #2A354B;
    --couleur-secondaire: #EFF0F2;
}

body{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'MonInter'; /* Nom de la police */
    src: url('assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf') format('truetype'); /* Chemin vers le fichier de police */
          
    font-weight: normal; /* Poids de la police */
    font-style: normal; /* Style de la police */
  }

@font-face {
    font-family: 'MonRobotoCondensed'; /* Nom de la police */
    src: url('assets/fonts/Roboto_Condensed/RobotoCondensed-VariableFont_wght.ttf') format('truetype') /* Chemin vers le fichier de police */
         ;
    font-weight: normal; /* Poids de la police */
    font-style: normal; /* Style de la police */
  }


h1, h2{
    text-transform: uppercase;
}

hi
@media only screen and (max-width: 700px) {
    
}

@media only screen and (min-width: 701px) {
    /* Styles CSS spécifiques pour les écrans de petite taille */
    
  }